@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    

}

body{
    background-color:#efecea;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
    color: #111111;

}
a:hover{
    color: inherit;
}
 

.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 120px;
    padding-top: 10px;
    gap: 250px;
    border-bottom: #434343 1px solid;
}

.profile-image{
    height: 80%;
    width:13%;
    border-radius: 100%;
    border: 3px solid #FFEAEA;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
    
}

.logo-title{
  font-weight: 600;
}

.sections{
    display: flex;
    gap:90px;
    list-style-type: none;
    font-size: 17px;

}

.info-container{
    line-height: 40px;
    padding-top: 80px;
    padding-left:80px;
}

.main-title{
    font-size: 65px;
    font-weight: bolder;
}

.secondary-title{
    line-height: 80px;
}

.introduction{
    width: 80%;
    padding-left:80px;
    font-size: 20px;
}

.button-container{
    padding-top: 150px;
    padding-left: 80px;
    display: flex;
    gap: 40px;
}



.button{
  align-items: center;
  cursor: pointer;
  background-color: #efecea;
  border: 1px solid #111111;
  border-radius: 100px;
  color: #111111;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.button:hover { 
  background-color: #111111;
  color: #ffffff;
}

.fter-container{
    background-color: #434343;
    height: 100%;
    margin-top: 10em;
    padding: 3em;
    
}

.fter-list{
    color: #ddd;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 1em;
    list-style-type: none;
    gap: 8.5em;


}


